.headerOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.headerOptions:hover {
  color: black;
}

.headerOptions__title {
}

.headerOptions__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
