* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: #f3f2ef;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.app__body {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
